# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
coverage/
pipelane-front/node_modules/
pipelane-front/dist/
pipelane-front/coverage/
pipelane-front/.env
pipelane-front/.angular/
pipelane-front/src/app/core/env.generated.ts

# Dotnet
**/bin/
**/obj/
*.user
*.suo
*.swp
launchSettings.json

# Logs
*.log

# Tooling
.vs/
.vscode/
*.tgz
pipelane-marketing/storage/
