<h2 mat-dialog-title>Centre d’aide</h2>

<mat-dialog-content class="help-center">
  <section>
    <h3>Raccourcis</h3>
    <mat-nav-list>
      <a mat-list-item *ngFor="let shortcut of shortcuts">
        <span class="kbd">{{ shortcut.combo }}</span>
        <span>{{ shortcut.description }}</span>
      </a>
    </mat-nav-list>
  </section>

  <section>
    <h3>Ressources</h3>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of links" [href]="link.url" target="_blank" rel="noreferrer">
        <mat-icon matListItemIcon aria-hidden="true">{{ link.icon }}</mat-icon>
        <span>{{ link.label }}</span>
        <mat-icon matListItemMeta aria-hidden="true">open_in_new</mat-icon>
      </a>
    </mat-nav-list>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="accent" (click)="triggerReplay()">
    <mat-icon aria-hidden="true">play_circle</mat-icon>
    Rejouer le tutoriel
  </button>
  <button mat-stroked-button mat-dialog-close color="primary">
    <mat-icon aria-hidden="true">check_circle</mat-icon>
    Compris
  </button>
</mat-dialog-actions>
